
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing:border-box
}

body,html {
    height:100%;
    font-family:sans-serif
}

body {
    background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
}

a {
    margin:0;
    transition:all .4s;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s
}

a:focus {
    outline:none!important
}

a:hover {
    text-decoration:none
}

h1,h2,h3,h4,h5,h6 {
    margin:0
}

p {
    margin:0
}

ul,li {
    margin:0;
    list-style-type:none
}

input {
    display:block;
    outline:none;
    border:none!important
}

textarea {
    display:block;
    outline:none
}

textarea:focus,input:focus {
    border-color:transparent!important
}

button {
    outline:none!important;
    border:none;
    background:0 0
}

button:hover {
    cursor:pointer
}

iframe {
    border:none!important
}

.limiter {
    width:100%;
    margin:0 auto
}

.container-table100 {
    width:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    padding:33px 30px;

    background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);

}

.wrap-table100 {
    width: 960px;
}

.table {
    width:100%;
    display:table;
    margin: 0;
    border-radius: 5px;
}

@media screen and (max-width:768px){
    .table{
        display:block
    }
}
.row{
    display:table-row;
    background: rgba(57, 63, 84, 0.8);
}
.row.header{
    color:#fff;
    background:#6c7ae0
}
@media screen and (max-width:768px){
    .row{
        display:block
    }
    .row.header{
        padding:0;
        height:0
    }
    .row.header .cell{
        display:none
    }
    .row .cell:before{
        font-family: 'Poppins', sans-serif;
        font-size:12px;
        color:gray;
        line-height:1.2;
        text-transform:uppercase;
        font-weight:unset!important;
        margin-bottom:13px;
        content:attr(data-title);
        min-width:98px;
        display:block
    }
}
.cell{
    display:table-cell
}
@media screen and (max-width:768px){
    .cell{
        display:block
    }
}
.row .cell{
    font-family: 'Poppins', sans-serif;    
    font-size:15px;
    color:#fff;
    line-height:1.2;
    font-weight:unset!important;
    padding-top:20px;
    padding-bottom:20px;
}
.row.header .cell{
    font-family: 'Poppins', sans-serif;    
    font-size:18px;
    color: #fff;
    line-height:1.2;
    font-weight:unset!important;
    padding-top:19px;
    padding-bottom:19px
}
.row .cell:nth-child(1){
    width:360px;
    padding-left:40px
}
.row .cell:nth-child(2){
    width:160px
}
.row .cell:nth-child(3){
    width:250px
}
.row .cell:nth-child(4){
    width:190px
}
.table,.row{
    width:100%!important
}
.row:hover{
    background-color:#000;
    cursor:pointer
}
@media(max-width:768px){
    .row{
        border-bottom:1px solid #f2f2f2;
        padding-bottom:18px;
        padding-top:30px;
        padding-right:15px;
        margin:0
    }
    .row .cell{
        border:none;
        padding-left:30px;
        padding-top:16px;
        padding-bottom:16px
    }
    .row .cell:nth-child(1){
        padding-left:30px
    }
    .row .cell{
        font-family: 'Poppins', sans-serif;
        font-size:18px;
        color:#fff;
        line-height:1.2;
        font-weight:unset!important
    }
    .table,.row,.cell{
        width:100%!important
    }
}
.webflow-style-input input {
    flex-grow: 1;
    color: #bfd2ff;
    font-size: 1.8rem;
    line-height: 2.4rem;
    vertical-align: middle;
    width: 100%;
}

.webflow-style-input input::-webkit-input-placeholder {
    color: #7881a1;
}

.webflow-style-input button {
    color: #7881a1;
    font-size: 2.4rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color 0.25s;
}

.webflow-style-input button:hover {
    color: #bfd2ff;
}

.demo-flex-spacer {
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
   }
    100% {
        background-position: 100% 0;
   }
}


.webflow-style-input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 2px;
    padding: 1rem 2rem;
    background: rgba(57, 63, 84, 0.8);
    margin-bottom: 20px;
}

.webflow-style-input:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #b294ff, #57e6e6, #feffb8, #57e6e6, #b294ff, #57e6e6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

.webflow-style-input input {
    flex-grow: 1;
    color: #bfd2ff;
    font-size: 20px;
    line-height: 2.4rem;
    vertical-align: middle;
    width: 100%;
    background-color: transparent;
}

.webflow-style-input input::-webkit-input-placeholder {
    color: #7881a1;
}

.webflow-style-input button {
    color: #7881a1;
    font-size: 2.4rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color 0.25s;
}

.webflow-style-input button:hover {
    color: #bfd2ff;
}
